# Project Settings
PROJECT_NAME="Flab2Fab API"
DEBUG=True

# API Versioning
API_V1_STR="/api/v1"

# LLM Settings (Get your token from huggingface.co/settings/tokens)
HUGGINGFACE_API_KEY=your_token_here
HF_MODEL_ID=any_model_u_wish_to_takeup

# Security
SECRET_KEY=generate_a_secure_key_here
CORS_ORIGINS=["http://localhost:5173"]
